<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380059027509-hpkl6k065us8sdnhhon3bd45u2hed62a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380059027509-hpkl6k065us8sdnhhon3bd45u2hed62a</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ0oFo6wAjcOEf-CO_eSPBPR6309z7SO4</string>
	<key>GCM_SENDER_ID</key>
	<string>380059027509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selddon.look4me</string>
	<key>PROJECT_ID</key>
	<string>look4me-app</string>
	<key>STORAGE_BUCKET</key>
	<string>look4me-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380059027509:ios:594b595563bfffa030497c</string>
</dict>
</plist>